.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  /* make grid fit within 4 of these columns..1 fraction..4 equal columns*/
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  /* between each column is 20px */
  grid-gap: 20px
}